# Django stuff:
*.log
local_settings.py
db*.sqlite3


# mio
personale/migrations/
personale/static/personale/attestati/
.idea/
.vs/
*.exe
data ultima modifica.txt
*.xlsx
mansioni.xlsx
SyncToy*
*.svg

