{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'personale/css/bootstrap2.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'personale/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'personale/img/emergenza.ico' %}"/>
    <title>Simulazione Emergenze</title>
</head>

<body>

<div class="container-fluid">

    <h1>Simulazioni Emergenze
        <span class="badge badge-success">{{ totali_lavoratori.0 }}</span>
        <span class="badge badge-danger">{{ totali_lavoratori.1 }}</span>
        <span><i class="fas fa-caret-right"></i></span>
        <span class="badge badge-primary">{{ totali_lavoratori.2 }}%</span>
    </h1>

    <div id="table-container" class="table-responsive">

        <table id="maintable" class="table table-striped table-sm text-center ">
            <thead class="thead-light">
            <tr>
                <th scope="col">Effettuata</th>
                <th scope="col">Cognome</th>
                <th scope="col">Nome</th>
                <th scope="col">Cantiere</th>
                {% for simulazione, presenze in simulazioni %}
                <th scope="col" class="ruota">
                    {{ simulazione.data }}<br>
                    {{ simulazione.emergenza }}<br>
                    {{ simulazione.area }}<br>
                    <span class="badge badge-success">{{presenze}}</span>
                </th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>

            {% for lavoratore, elenco_simulazioni, stato_lavoratore in matrice_simulazioni %}
            <tr scope="row">
                <td>{% if stato_lavoratore %}
                    <i class="fas fa-check-circle v"></i>
                    <span class="nascosto2">x</span>
                    {% endif %}
                </td>
                <td class="text-left">{{ lavoratore.cognome }}</td>
                <td class="text-left">{{ lavoratore.nome }}</td>
                <td class="text-left">{{ lavoratore.cantiere }}</td>
                {% for simulazione in elenco_simulazioni%}
                <td>{% if simulazione%}
                    <i class="fas fa-check-circle v"></i>
                    <span class="nascosto2">x</span>
                    {% endif %}
                </td>
                {% endfor %}

            </tr>
            {% endfor %}

            </tbody>

        </table>
        <div id="bottom_anchor"></div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'personale/js/my_js.js' %}"></script>
</body>
</html>