{% extends "personale/base.html" %}

{% load static %}

{% block title %}Aggiorna UNILAV{% endblock %}

{% block menu %}
{% include "personale/menu.html" %}
{% endblock %}


{% block corpo %}
<!--<p>{{scrivi}}</p>-->


<h1>Aggiorna UNILAV</h1>


{% if get %}
<div>
    <h2>Foglio selezionato: </h2>

    {% if errori %}
    <div class="row">
        <div class="col-6">
            <h3>Errori <span class="badge badge-info">{{ errori|length }}</span></h3>
            <table class="table table-striped table-sm">
                <thead class="thead-light">
                <tr>
                    <th>Nominativo</th>
                    <th>Problema</th>
                </tr>
                </thead>
                <tbody>
                {% for nominativo, problema in errori %}
                <tr>
                    <td>{{nominativo|title}}</td>
                    <td>{{problema}}</td>
                </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% for proroga, assunzione, cessazione, trasformazione in dati %}
    <div class="row">
        <div class="col-3">
            <h3>Assunzione <span class="badge badge-info">{{ assunzione|length }}</span></h3>
            <table class="table table-striped table-sm">
                <thead class="thead-light">
                <tr>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Al</th>
                </tr>
                </thead>
                <tbody>
                {% for lavoratore in assunzione %}
                <tr>
                    <td>{{lavoratore.0}}</td>
                    <td>{{lavoratore.1}}</td>
                    <td>{{lavoratore.4}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="col-3">
            <h3>Proroga <span class="badge badge-info">{{ proroga|length }}</span></h3>
            <table class="table table-striped table-sm">
                <thead class="thead-light">
                <tr>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Al</th>
                </tr>
                </thead>
                <tbody>
                {% for lavoratore in proroga %}
                <tr>
                    <td>{{lavoratore.0}}</td>
                    <td>{{lavoratore.1}}</td>
                    <td>{{lavoratore.4}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="col-3">
            <h3>Trasformazione <span class="badge badge-info">{{ trasformazione|length }}</span></h3>
            <table class="table table-striped table-sm">
                <thead class="thead-light">
                <tr>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Il</th>
                </tr>
                </thead>
                <tbody>
                {% for lavoratore in trasformazione %}
                <tr>
                    <td>{{lavoratore.0}}</td>
                    <td>{{lavoratore.1}}</td>
                    <td>{{lavoratore.4}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-3">
            <h3>Cessazione <span class="badge badge-info">{{ cessazione|length }}</span></h3>
            <table class="table table-striped table-sm">
                <thead class="thead-light">
                <tr>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Il</th>
                </tr>
                </thead>
                <tbody>
                {% for lavoratore in cessazione %}
                <tr>
                    <td>{{lavoratore.0}}</td>
                    <td>{{lavoratore.1}}</td>
                    <td>{{lavoratore.4}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


    {% endfor%}
</div>

{% else %}

<form action="">
    <p>Seleziona Foglio:</p>

    {% for foglio in fogli %}
    <input type="radio" name="foglio" value="{{foglio}}" {% if forloop.last %}checked{% endif %}> {{foglio}}
    {% endfor %}

    <input type="submit" value="Submit">
</form>

{% endif %}

{% endblock %}