<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, notranslate, noimageindex">

    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'personale/img/modomec.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'personale/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'personale/css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>{% block title %}Titolo Pagina{% endblock %}</title>
</head>
<body>

<div class="container-fluid">

    <div>
        {% block menu %}menu{% endblock %}
    </div>

    {% if autorizzato %}
        <div class="corpo">
            {% block corpo %}corpo{% endblock %}
        </div>
    {% else %}
        {% include "personale/non_loggato.html" %}
    {% endif %}

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="{% static 'personale/js/bootstrap.min.js' %}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{% static 'personale/js/my_js.js' %}"></script>

</body>
</html>