{% extends "personale/base.html" %}

{% load static %}

{% block title %}
Elenco Personale
{% endblock %}


{% block menu %}
{% include "personale/menu.html" %}
{% endblock %}



{% block corpo %}

<div class="row align-items-center"">
    <div class="col"><h1>Elenco personale  <span class="badge badge-primary">{{nlavoratori}}</span></h1></div>
    <div class="col text-right align-items-center ">
        <nav class="nav nav-pills justify-content-end">
            <a class="nav-link {% if pagina_attiva == 'in_forza' %}active{% endif %}"
               data-toggle="tooltip" data-placement="top" title="Ordinamento Alfabetico"
               href="/personale/completo/in_forza/"><i class="fas fa-user fa-2x"></i></a>
            <a class="nav-link {% if pagina_attiva == 'azienda' %}active{% endif %}"
               data-toggle="tooltip" data-placement="top" title="Ordinamento per Azienda"
               href="/personale/completo/in_forza/a"><i class="fas fa-warehouse fa-2x"></i></a>
            <a class="nav-link {% if pagina_attiva == 'cantiere' %}active{% endif %}"
               data-toggle="tooltip" data-placement="top" title="Ordinamento per Cantiere"
               href="/personale/completo/in_forza/c"><i class="fas fa-industry fa-2x"></i></a>
            <a class="nav-link {% if pagina_attiva == 'tutti' %}active{% endif %}"
               data-toggle="tooltip" data-placement="top" title="Ordinamento Alfabetico con Personale anche Non In Forza"
               href="/personale/completo/"><i class="fas fa-users fa-2x"></i></a>
        </nav>
    </div>
</div>


<div  id="table-container" class="table-responsive">
    <table id="maintable" class="table table-striped table-sm text-center ">
        <thead class="thead-light">
            <tr>
                <th scope="col">Stato</th>
                <th>Azienda</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Mansione</th>
                <th>Cantiere</th>
                <th>Idoneità</th>
                <th>UNILAV</th>
                <th>Art.37</th>
                <th>Primo Soccorso</th>
                <th>Antincendio</th>
                <th>Preposto</th>
                <th>H2S</th>
                <th>DPI3</th>
                <th>Muletto</th>
                <th>PLE</th>
                <th>Gru</th>
                <th>Imbracatore</th>
                <th>Spazi Confinati</th>
                <th>Ponteggi</th>
                <th>RIR</th>
                <th>RLS</th>
                <th>RSPP</th>
            </tr>
        </thead>
        <tbody>
        {% for lavoratore, anagrafica, formazione in dati %}

            <tr>
                <td>{% if anagrafica.in_forza %} <i class="fas fa-circle {{lavoratore.stato}}"></i>
                    {% else %} <i class="far fa-circle {{lavoratore.stato}}"></i>
                    {% endif %}</td>
                <td> {{anagrafica.get_azienda_display|default_if_none:""}}</td>
                <th scope="row" class="text-left">{{lavoratore.cognome}}</th>
                <th scope="row" class="text-left">{{lavoratore.nome}}</th>
                <td class="text-left"> {{anagrafica.mansione|default_if_none:""}}</td>
                <td> {{anagrafica.get_cantiere_display|default_if_none:""}}</td>
                <td {% if anagrafica.idoneita < oggi %} class="alert alert-danger" role="alert"
                    {% elif anagrafica.idoneita < mesi1 %} class="alert alert-warning" role="alert"
                    {% elif anagrafica.idoneita < mesi2 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/idoneità {{anagrafica.idoneita|date:"dmy"}}.pdf" target="_blank">
                        {{anagrafica.idoneita|default_if_none:""}}</a></td>
                <td {% if anagrafica.unilav < oggi %} class="alert alert-danger" role="alert"
                    {% elif anagrafica.unilav < mesi1 %} class="alert alert-warning" role="alert"
                    {% elif anagrafica.unilav < mesi2 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/unilav {{anagrafica.unilav|date:"dmy"}}.pdf" target="_blank">
                        {{anagrafica.unilav|default_if_none:""}} </a>
                    {% if  anagrafica.indeterminato %}
                        <a href="{% static ''%}{{lavoratore}}/unilav ind.pdf" target="_blank">
                        {{anagrafica.unilav|default_if_none:""}} IND</a>  {% endif %}
                </td>
                <td {% if formazione.art37 < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.art37 < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.art37 < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/art37 {{formazione.art37|date:"dm"}}{{formazione.art37|date:"y"|add:-5}}.pdf" target="_blank">
                        {{formazione.art37|default_if_none:""}}</a></td>
                <td {% if formazione.primo_soccorso < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.primo_soccorso < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.primo_soccorso < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/primo.soccorso {{formazione.primo_soccorso|date:"dm"}}{{formazione.primo_soccorso|date:"y"|add:-3}}.pdf" target="_blank">
                         {{formazione.primo_soccorso|default_if_none:""}}</a></td>
                <td> <a href="{% static ''%}{{lavoratore}}/attestati/antincendio {{formazione.antincendio|date:"dmy"}}.pdf" target="_blank">
                    {{formazione.antincendio|default_if_none:""}}</td>
                <td {% if formazione.preposto < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.preposto < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.preposto < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/preposto {{formazione.preposto|date:"dm"}}{{formazione.preposto|date:"y"|add:-5}}.pdf" target="_blank">
                        {{formazione.preposto|default_if_none:""}}</td>
                <td {% if formazione.h2s < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.h2s < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.h2s < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/h2s {{formazione.h2s|date:"dm"}}{{formazione.h2s|date:"y"|add:-5}}.pdf" target="_blank">
                        {{formazione.h2s|default_if_none:""}}</td>
                <td {% if formazione.dpi3 < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.dpi3 < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.dpi3 < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/dpi {{formazione.dpi3|date:"dm"}}{{formazione.dpi3|date:"y"|add:-5}}.pdf" target="_blank">
                        {{formazione.dpi3|default_if_none:""}}</a></td>
                <td {% if formazione.carrello < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.carrello < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.carrello < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/carrelli {{formazione.carrello|date:"dm"}}{{formazione.carrello|date:"y"|add:-5}}.pdf" target="_blank">
                        {{formazione.carrello|default_if_none:""}}</a></td>
                <td {% if formazione.ple < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.ple < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.ple < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/ple {{formazione.ple|date:"dm"}}{{formazione.ple|date:"y"|add:-5}}.pdf" target="_blank">
                        {{formazione.ple|default_if_none:""}}</a></td>
                <td {% if formazione.gru < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.gru < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.gru < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/autogru {{formazione.gru|date:"dm"}}{{formazione.gru|date:"y"|add:-5}}.pdf" target="_blank">
                        {{formazione.gru|default_if_none:""}}</a></td>
                <td {% if formazione.imbracatore < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.imbracatore < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.imbracatore < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/imbracatore {{formazione.imbracatore|date:"dm"}}{{formazione.imbracatore|date:"y"|add:-5}}.pdf" target="_blank">
                         {{formazione.imbracatore|default_if_none:""}}</a></td>
                <td {% if formazione.spazi_confinati < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.spazi_confinati < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.spazi_confinati < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/spazi.confinati {{formazione.spazi_confinati|date:"dm"}}{{formazione.spazi_confinati|date:"y"|add:-5}}.pdf" target="_blank">
                         {{formazione.spazi_confinati|default_if_none:""}}</a></td>
                <td {% if formazione.ponteggi < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.ponteggi < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.ponteggi < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/ponteggi {{formazione.ponteggi|date:"dm"}}{{formazione.ponteggi|date:"y"|add:-4}}.pdf" target="_blank">
                        {{formazione.ponteggi|default_if_none:""}}</a></td>
                <td {% if formazione.rir < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.rir < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.rir < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/rir {{formazione.rir|date:"dm"}}{{formazione.rir|date:"y"|add:-5}}.pdf" target="_blank">
                        {{formazione.rir|default_if_none:""}}</a></td>
                <td {% if formazione.rls < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.rls < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.rls < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/rls {{formazione.rls|date:"dm"}}{{formazione.rls|date:"y"|add:-1}}.pdf" target="_blank">
                         {{formazione.rls|default_if_none:""}}</a></td>
                <td {% if formazione.rspp < oggi %} class="alert alert-danger" role="alert"
                    {% elif formazione.rspp < mesi6 %} class="alert alert-warning" role="alert"
                    {% elif formazione.rspp < mesi12 %} class="alert alert-info" role="alert"
                    {% endif %}>
                    <a href="{% static ''%}{{lavoratore}}/attestati/rspp {{formazione.rspp|date:"dm"}}{{formazione.rspp|date:"y"|add:-5}}.pdf" target="_blank">
                        {{formazione.rspp|default_if_none:""}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="bottom_anchor"></div>
</div>
{% endblock %}
