{% extends "personale/base.html" %}

{% load static %}

{% block title %}
    Elenco Personale
{% endblock %}


{% block menu %}
    {% include "personale/menu.html" %}
{% endblock %}



{% block corpo %}

    <div class="row">
        <ul>
            <li><a href="#MODOMEC">MODOMEC</a></li>
            <li><a href="#BUILDING">BUILDING</a></li>
            <li><a href="#RIMEC">RIMEC</a></li>
            <li><a href="#WELDING">WELDING</a></li>
            <li><a href="#-">NA</a></li>
        </ul>
    </div>

    {% for azienda, gruppo, n in dati%}

        <div class="row align-items-center">
            <div class="col"><h1>{{azienda}} <span class="badge badge-primary">{{n}}</span></h1>
                <a name="{{azienda}}"></a>
            </div>
            <div class="col text-right align-items-center ">
                {% block sottomenu %}
                    {% include "personale/sottomenu.html" %}
                {% endblock %}
            </div>
        </div>

        {% block tabella %}
            {% include "personale/tabella_no_azienda.html" %}
        {% endblock %}
    {% endfor %}

{% endblock %}
