{% extends "personale/base.html" %}

{% load static %}

{% block title %}
Anagafica
{% endblock %}


{% block menu %}
{% include "personale/menu.html" %}
{% endblock %}



{% block corpo %}
    <h1>Elenco personale (Formazione)</h1>

    <div class="table-responsive">
            <table class="table table-striped table-sm text-center ">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Stato</th>
                        <th>Cognome</th>
                        <th>Nome</th>
                        <th>Art.37</th>
                        <th>Primo Soccorso</th>
                        <th>Antincendio</th>
                        <th>Preposto</th>
                        <th>H2S</th>
                        <th>DPI3</th>
                        <th>Muletto</th>
                        <th>PLE</th>
                        <th>Gru</th>{{lavoratore.situazione|default_if_none:""}}
                        <th>Imbracatore</th>
                        <th>Spazi Confinati</th>
                        <th>Ponteggi</th>
                        <th>RIR</th>
                        <th>RLS</th>
                        <th>RSPP</th>
                    </tr>
                </thead>

                {% for lavoratore in lavoratori %}
                    <tr>
                        <td><i class="fas fa-circle {{lavoratore.stato_formazione}}"></i></td>
                        <th scope="row" class="text-left">{{lavoratore.lavoratore.cognome}}</th>
                        <th scope="row" class="text-left">{{lavoratore.lavoratore.nome}}</th>
                        <td {% if lavoratore.art37 < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.art37 < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.art37 < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.art37|default_if_none:""}}</td>
                        <td {% if lavoratore.primo_soccorso < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.primo_soccorso < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.primo_soccorso < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.primo_soccorso|default_if_none:""}}</td>
                        <td> {{lavoratore.antincendio|default_if_none:""}}</td>
                        <td {% if lavoratore.preposto < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.preposto < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.preposto < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.preposto|default_if_none:""}}</td>
                        <td {% if lavoratore.h2s < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.h2s < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.h2s < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.h2s|default_if_none:""}}</td>
                        <td {% if lavoratore.dpi3 < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.dpi3 < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.dpi3 < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.dpi3|default_if_none:""}}</td>
                        <td {% if lavoratore.carrello < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.carrello < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.carrello < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.carrello|default_if_none:""}}</td>
                        <td {% if lavoratore.ple < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.ple < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.ple < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.ple|default_if_none:""}}</td>
                        <td {% if lavoratore.gru < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.gru < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.gru < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}>{{lavoratore.gru|default_if_none:""}}</td>
                        <td {% if lavoratore.imbracatore < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.imbracatore < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.imbracatore < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.imbracatore|default_if_none:""}}</td>
                        <td {% if lavoratore.spazi_confinati < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.spazi_confinati < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.spazi_confinati < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.spazi_confinati|default_if_none:""}}</td>
                        <td {% if lavoratore.lavori_quota < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.ponteggi < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.ponteggi < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.lavori_quota|default_if_none:""}}</td>
                        <td {% if lavoratore.ponteggi < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.ponteggi < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.ponteggi < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.ponteggi|default_if_none:""}}</td>
                        <td {% if lavoratore.rir < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.rir < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.rir < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.rir|default_if_none:""}}</td>
                        <td {% if lavoratore.rls < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.rls < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.rls < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.rls|default_if_none:""}}</td>
                        <td {% if lavoratore.rspp < oggi %} class="alert alert-danger" role="alert"
                            {% elif lavoratore.rspp < mesi6 %} class="alert alert-warning" role="alert"
                            {% elif lavoratore.rspp < mesi12 %} class="alert alert-info" role="alert"
                            {% endif %}> {{lavoratore.rspp|default_if_none:""}}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
{% endblock %}