<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>Stato</th>
        <th>Cognome</th>
        <th>Nome</th>
        <th>Situazione GST</th>
        <th>Data GST</th>
        <th>Rait</th>
        <th>Documento</th>
        <th>Idoneità</th>
        <th>UNILAV</th>
        <th>art37</th>
        <th>Primo Soccorso</th>
        <th>Antincendio</th>
        <th>Preposto</th>
        <th>H2S</th>
        <th>DPI3</th>
        <th>Muletto</th>
        <th>PLE</th>
        <th>Gru</th>
        <th>Imbracatore</th>
        <th>Spazi Confinati</th>
        <th>RIR</th>
        <th>RSPP</th>
    </tr>
    {% for lavoratore in lavoratori %}
    <tr>
        <td>{{lavoratore.stato}}</td>
        <td>{{lavoratore.cognome}}</td>
        <td>{{lavoratore.nome}}</td>
        <td>{{lavoratore.situazione|default_if_none:""}}</td>
        <td {% if lavoratore.gst < oggi %} style="color:red" {% endif %}> {{lavoratore.gst|default_if_none:""}}</td>
        <td {% if lavoratore.rait < oggi %} style="color:red" {% endif %}> {{lavoratore.rait|default_if_none:""}}</td>
        <td {% if lavoratore.ci < oggi %} style="color:red" {% endif %}> {{lavoratore.ci|default_if_none:""}}</td>
        <td {% if lavoratore.idoneita < oggi %} style="color:red" {% endif %}> {{lavoratore.idoneita|default_if_none:""}}</td>
        <td {% if lavoratore.unilav < oggi %} style="color:red" {% endif %}> {{lavoratore.unilav|default_if_none:""}}</td>
        <td {% if lavoratore.art37 < oggi %} style="color:red" {% endif %}>   {{lavoratore.art37|default_if_none:""}}</td>
        <td {% if lavoratore.primo_soccorso < oggi %} style="color:red" {% endif %}> {{lavoratore.primo_soccorso|default_if_none:""}}</td>
        <td {% if lavoratore.antincendio < oggi %} style="color:red" {% endif %}> {{lavoratore.antincendio|default_if_none:""}}</td>
        <td {% if lavoratore.preposto < oggi %} style="color:red" {% endif %}> {{lavoratore.preposto|default_if_none:""}}</td>
        <td {% if lavoratore.h2s < oggi %} style="color:red" {% endif %}> {{lavoratore.h2s|default_if_none:""}}</td>
        <td {% if lavoratore.dpi3 < oggi %} style="color:red" {% endif %}> {{lavoratore.dpi3|default_if_none:""}}</td>
        <td {% if lavoratore.carrello < oggi %} style="color:red" {% endif %}> {{lavoratore.carrello|default_if_none:""}}</td>
        <td {% if lavoratore.ple < oggi %} style="color:red" {% endif %}> {{lavoratore.ple|default_if_none:""}}</td>
        <td {% if lavoratore.gru < oggi %} style="color:red" {% endif %}> {{lavoratore.gru|default_if_none:""}}</td>
        <td {% if lavoratore.imbracatore < oggi %} style="color:red" {% endif %}> {{lavoratore.imbracatore|default_if_none:""}}</td>
        <td {% if lavoratore.spazi_confinati < oggi %} style="color:red" {% endif %}> {{lavoratore.spazi_confinati|default_if_none:""}}</td>
        <td {% if lavoratore.rir < oggi %} style="color:red" {% endif %}> {{lavoratore.rir|default_if_none:""}}</td>
        <td {% if lavoratore.rspp < oggi %} style="color:red" {% endif %}> {{lavoratore.rspp|default_if_none:""}}</td>
    </tr>

    {% endfor %}

</table>
</body>
</html>