<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'personale/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'personale/css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <title>Elenco Personale</title>
</head>
<body>

<div class="container-fluid">

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="{% static 'personale/img/modomec-logo-32.png' %}" alt="MODOMEC">
            </a>

            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/admin/">Admin <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Personale
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Elenco</a>
                  <a class="dropdown-item" href="#">In Scadenza/Scaduti</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mezzi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Elenco</a>
                  <a class="dropdown-item" href="#">In Scadenza/Scaduti</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Azioni
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="dropdown-item disabled" >Aggiorna Lavoratori</div>
                        <a class="dropdown-item" href="#">Elenco</a>
                        <a class="dropdown-item" href="#">Documenti</a>
                        <a class="dropdown-item" href="#">GST</a>
                        <a class="dropdown-item" href="#">Rait</a>
                        <a class="dropdown-item" href="#">Stato</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item disabled" >Aggiorna Mezzi</div>
                        <a class="dropdown-item" href="#">Aggiorna Tutto</a>

                </div>
              </li>
            </ul>


        </nav>
    </div>


    <div class="corpo">

        <h1>Elenco personale</h1>

        <div class="table-responsive">
            <table class="table table-striped table-sm text-center ">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Stato</th>
                        <th>Cognome</th>
                        <th>Nome</th>
                        <th>Situazione GST</th>
                        <th>Data GST</th>
                        <th>Rait</th>
                        <th>Documento</th>
                        <th>Idoneità</th>
                        <th>UNILAV</th>
                        <th>Art.37</th>
                        <th>Primo Soccorso</th>
                        <th>Antincendio</th>
                        <th>Preposto</th>
                        <th>H2S</th>
                        <th>DPI3</th>
                        <th>Muletto</th>
                        <th>PLE</th>
                        <th>Gru</th>{{lavoratore.situazione|default_if_none:""}}
                        <th>Imbracatore</th>
                        <th>Spazi Confinati</th>
                        <th>RIR</th>
                        <th>RSPP</th>
                    </tr>
                </thead>

                {% for lavoratore in lavoratori %}
                    <tr>
                        <td><i class="fas fa-circle {{lavoratore.stato}}"></i></td>
                        <th scope="row" class="text-left">{{lavoratore.cognome}}</th>
                        <th scope="row" class="text-left">{{lavoratore.nome}}</th>
                        <td><i class="fas fa-circle {{lavoratore.situazione|default_if_none:"c"}}"></i></td>
                        <td {% if lavoratore.gst < oggi %} style="color:red" {% endif %}> {{lavoratore.gst|default_if_none:""}}</td>
                        <td {% if lavoratore.rait < oggi %} style="color:red" {% endif %}> {{lavoratore.rait|default_if_none:""}}</td>
                        <td {% if lavoratore.ci < oggi %} style="color:red" {% endif %}> {{lavoratore.ci|default_if_none:""}}</td>
                        <td {% if lavoratore.idoneita < oggi %} style="color:red" {% endif %}> {{lavoratore.idoneita|default_if_none:""}}</td>
                        <td {% if lavoratore.unilav < oggi %} style="color:red" {% endif %}> {{lavoratore.unilav|default_if_none:""}}</td>
                        <td {% if lavoratore.art37 < oggi %} style="color:red" {% endif %}>   {{lavoratore.art37|default_if_none:""}}</td>
                        <td {% if lavoratore.primo_soccorso < oggi %} style="color:red" {% endif %}> {{lavoratore.primo_soccorso|default_if_none:""}}</td>
                        <td {% if lavoratore.antincendio < oggi %} style="color:red" {% endif %}> {{lavoratore.antincendio|default_if_none:""}}</td>
                        <td {% if lavoratore.preposto < oggi %} style="color:red" {% endif %}> {{lavoratore.preposto|default_if_none:""}}</td>
                        <td {% if lavoratore.h2s < oggi %} style="color:red" {% endif %}> {{lavoratore.h2s|default_if_none:""}}</td>
                        <td {% if lavoratore.dpi3 < oggi %} style="color:red" {% endif %}> {{lavoratore.dpi3|default_if_none:""}}</td>
                        <td {% if lavoratore.carrello < oggi %} style="color:red" {% endif %}> {{lavoratore.carrello|default_if_none:""}}</td>
                        <td {% if lavoratore.ple < oggi %} style="color:red" {% endif %}> {{lavoratore.ple|default_if_none:""}}</td>
                        <td {% if lavoratore.gru < oggi %} style="color:red" {% endif %}> {{lavoratore.gru|default_if_none:""}}</td>
                        <td {% if lavoratore.imbracatore < oggi %} style="color:red" {% endif %}> {{lavoratore.imbracatore|default_if_none:""}}</td>
                        <td {% if lavoratore.spazi_confinati < oggi %} style="color:red" {% endif %}> {{lavoratore.spazi_confinati|default_if_none:""}}</td>
                        <td {% if lavoratore.rir < oggi %} style="color:red" {% endif %}> {{lavoratore.rir|default_if_none:""}}</td>
                        <td {% if lavoratore.rspp < oggi %} style="color:red" {% endif %}> {{lavoratore.rspp|default_if_none:""}}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="{% static 'personale/js/bootstrap.min.js' %}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>