{% load static %}

<div class="menu">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/personale/completo/in_forza/c">
            <img src="{% static 'personale/img/modomec-logo-32.png' %}" alt="MODOMEC">
        </a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/">Admin <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Rapporti
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
<!--                    <a class="dropdown-item" href="/personale/estrai_dati">Estrai Dati</a>-->
                    <a class="dropdown-item" href="/personale/estrai_dati2">Estrai Dati</a>
                    <a class="dropdown-item" href="/personale/mansioni">Mansioni</a>
                    <a class="dropdown-item" href="/personale/dimp">DIMP</a>
                    <a class="dropdown-item" href="/personale/formazione">Formazione</a>
                    <a class="dropdown-item" href="/personale/programma_officina">Programma Officina</a>
                    <a class="dropdown-item" href="/personale/simulazione_emergenze">Simulazioni Emergenze</a>
                    <a class="dropdown-item" href="/personale/programma_visite_mediche">Programma Visite Mediche</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Azioni
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/personale/aggiorna_unilav">Aggiorna UNILAV</a>
                    <a class="dropdown-item" href="/personale/rait">RAIT</a>
                </div>
            </li>
        </ul>

        <div class="text-secondary">Ultimo aggiornamento: {{ data_ultima_modifica }}</div>

    </nav>
</div>
