{% extends "personale/base.html" %}

{% load static %}

{% block title %}
    Elenco Personale
{% endblock %}


{% block menu %}
    {% include "personale/menu.html" %}
{% endblock %}



{% block corpo %}

    {% for azienda, gruppo, n in dati%}

        {% if n %}

            {% if not tabella_completa %}
                {% block link_tabelle %}
                    {% include "personale/link_tabelle.html" %}
                {% endblock %}
            {% endif %}

            {% block titolo_tabella %}
                {% include "personale/titolo_tabella.html" %}
            {% endblock %}

            {% block tabella %}
                {% include "personale/tabella.html" %}
            {% endblock %}

        {% endif %}

    {% endfor %}

{% endblock %}
