<div class="row align-items-center">
    <div class="col">
        <h1>{{azienda}}
            <span class="badge badge-danger">{{n.r}}</span>
            <span class="badge badge-warning">{{n.g}}</span>
            {% if n.v %}
                <span class="badge badge-success">{{n.v}}</span>
            {% endif %}
            {% if n.n %}
                <span class="badge badge-light">{{n.n}}</span>
            {% endif %}
            =
            <span class="badge badge-primary">{{n.t}}</span>
        </h1>
    </div>
    <div class="col text-right align-items-center ">
        {% block sottomenu %}
            {% include "personale/sottomenu.html" %}
        {% endblock %}
    </div>
</div>
