body {
    font-size: 10px;
}

.cs {
    font-weight: bold;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0;
}

.hmin {
    /*n.2 righi*/
    min-height: 55px;
    /*n.3 righi*/
    /* min-height: 71px; */
}

.mio {
    font-family: "Arial Narrow"
}