.r {
    color: red;
}

.v {
    color: green;
}

.g {
    color: orange;
}

.c {
    color: grey;
}

body {
    height: 1000px;
}

thead {
    background-color: white;
}

.n {
    color: #212529;
}

.no-auth {
    color: red;
}

.nascosto {
    display: none;
}

.nascosto2 {
    font-size: 0%;
}