{% for schede in righe %}


<div class="card-deck">
    {% for nome_scheda, scheda in schede.items %}


    <div class="card m-1">

        <div class="card-header {{ scheda.tipo_scheda }} hmin">
            {{ scheda.commesse|join:" - " }}
        </div>

        <div class="card-body">
            <div class="card-text">

                <table class="table table-sm table-borderless">
                    {% if scheda.cs %}
                    <tr class="{{ scheda.cs.idoneita }} text-truncate">
                        <th>{{ scheda.cs.nome|truncatechars:tronca_nome }}</th>
                        <th>{{ scheda.cs.azienda}}</th>
                        <th>{{ scheda.cs.mansione}}</th>
                    </tr>
                    {% endif %}


                    {% for lavoratore in scheda.lavoratori %}
                    <tr class="{{ lavoratore.idoneita }} text-truncate">
                        <td>{{ lavoratore.nome|truncatechars:tronca_nome }}</td>
                        <td>{{ lavoratore.azienda}}</td>
                        <td>{{ lavoratore.mansione}}</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endfor %}
