<div class="row">

    <div class="col">
        <table class="table table-sm table-borderless">
            {% for lavoratore in elenco_lavoratori_1 %}
            <tr class="{{ lavoratore.idoneita }}">
                <td>{{ forloop.counter}}</td>
                <td>{{ lavoratore.nome|truncatechars:15 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col">
        <table class="table table-sm table-borderless">

            {% for lavoratore in elenco_lavoratori_2 %}
            <tr class="{{ lavoratore.idoneita }}">
                <td>{{ forloop.counter}}</td>
                <td>{{ lavoratore.nome|truncatechars:15 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</div>

